    .dial-container {
        position: fixed;
        z-index: 1000000;
    }
    
    .dial-icon {
        border: 0px transparent;
        background-image: url('../images/dialicon.png');
        background-color: #09d56c;
        background-position: center;
        background-size: cover;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: fixed;
        bottom: 20px;
        left: 60px;
        border: 0;
        /* overflow: hidden; */
        padding: 0;
        z-index: 1000000;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
    }
    
    @import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
    .pad {
        z-index: 1000000;
        margin: auto;
        margin-bottom: 10px;
        bottom: 10px;
        left: 50px;
        border-radius: 20px;
        margin-left: 10px;
        width: 280px;
        height: 560px;
        background-color: rgb(31 232 129 / 84%);
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: 0 30px 35px -25px black;
        animation: showPad 1.5s both ease-in-out 1;
    }
    
    .close-dial {
        z-index: 10000001;
        text-align: center;
        position: absolute;
        margin-top: 5px;
        left: 130px;
        font-size: 25px;
    }
    
    .close-dial a {
        color: white;
        text-decoration: none;
    }
    
    .pad .dial-pad .contact {
        width: 90%;
        position: relative;
        margin-left: 5%;
        margin-top: 40px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    .pad .dial-pad .contact.showContact {
        opacity: 1;
    }
    
    .pad .dial-pad .contact .avatar {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        box-shadow: 0 15px 30px -10px black;
        position: absolute;
        left: 0px;
        top: 2px;
        z-index: 2;
    }
    
    .pad .dial-pad .contact .contact-info {
        padding-bottom: 5px;
        border-radius: 8px;
        width: 85%;
        margin-left: 10%;
        background-color: rgb(45 45 45);
        /* height: 76px; */
        overflow: hidden;
    }
    
    .pad .dial-pad .contact .contact-info>div {
        width: 80%;
        margin-left: 20%;
        font-size: 12px;
    }
    
    .pad .dial-pad .contact .contact-info .contact-name {
        font-size: 16px;
        color: rgb(253 253 253);
        margin-top: 5px;
        text-align: left;
    }
    
    .pad .dial-pad .contact .contact-info .contact-position {
        font-style: italic;
        color: #aeaeae;
    }
    
    .pad .dial-pad .contact .contact-info .contact-number {
        color: white;
    }
    
    .pad .dial-pad .contact .contact-info .contact-number span {
        color: #3de066;
        display: inline;
    }
    
    .pad .dial-pad .contact .contact-buttons {
        position: absolute;
        right: -5px;
        top: 0px;
        width: 40px;
        height: 76px;
    }
    
    .pad .dial-pad .contact .contact-buttons button {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0 12px 25px -5px black;
        display: block;
        position: absolute;
        right: 0px;
        background-size: 75% auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .pad .dial-pad .contact .contact-buttons button:focus {
        outline: none;
    }
    
    .pad .dial-pad .contact .contact-buttons button.icon-callnow {
        vertical-align: middle;
        margin: 12px 0px;
        background-color: rgb(255 196 78);
        background-image: url(../images/callnow.png);
    }
    
    .pad .dial-pad .contact .contact-buttons button.icon-video {
        background-color: #a529f9;
        bottom: 5px;
    }
    
    .phoneString {
        width: 100%;
        height: 60px;
        background-color: rgb(31 234 129);
        /* margin-top: 40px; */
        margin: 20px 0px;
    }
    
    .phoneString input {
        text-align: center;
        background-color: transparent;
        width: 90%;
        margin-left: 5%;
        height: 60px;
        border: none;
        font-size: 30px;
        color: rgb(255 255 255);
        font-weight: 700;
        letter-spacing: 2px;
    }
    
    .phoneString input:focus {
        outline: none;
    }
    
    .digits {
        overflow: hidden;
        width: 70%;
        margin-left: 15%;
    }
    
    .digits .dig-spacer {
        width: 60px;
        margin: 10px calc(50% - 80px);
        float: left;
    }
    
    .digits .dig {
        color: white;
        font-size: 25px;
        float: left;
        background-color: rgb(0 154 75);
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin: 8px 0px;
        padding-top: 4px;
        font-weight: 700;
        cursor: pointer;
    }
    
    .digits .dig.clicked {
        animation: pulse-green linear 0.7s 1;
    }
    
    .digits .dig:nth-child(3n-1) {
        margin: 8px calc(50% - 75px);
    }
    
    .digits .dig.astrisk {
        padding-top: 17px;
    }
    
    .digits .dig.pound {
        padding-top: 10px;
    }
    
    .digits .dig .sub-dig {
        font-size: 10px;
        font-weight: 600;
        position: relative;
        top: -7px;
    }
    
    .pad .dial-pad .digits .dig.addPerson,
    .pad .dial-pad .digits .dig.goBack {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 55% auto;
        margin-bottom: 25px;
        box-shadow: 0px 25px 30px -15px black;
    }
    
    .pad .dial-pad .digits .dig.addPerson {
        background-color: #285efa;
        background-image: url("../images/add-user.png");
    }
    
    .pad .dial-pad .digits .dig.addPerson.clicked {
        animation: pulse-blue linear 0.5s 1;
    }
    
    .pad .dial-pad .digits .dig.goBack {
        background-color: rgb(124 27 38);
        background-image: url(../images/del.png);
    }
    
    .pad .dial-pad .digits .dig.goBack.clicked {
        animation: pulse-red linear 0.5s 1;
    }
    
    .pad .call-pad {
        opacity: 0;
        height: 0px;
        pointer-events: none;
        /* background-image: url(https://s21.postimg.org/x4te7wpo7/call_Background.png); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        transition: opacity 0.3s ease;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        transition: opacity 0.3s ease;
    }
    
    .pad .call-pad.in-call {
        height: 100%;
        opacity: 1;
        pointer-events: all;
    }
    
    .pad .call-pad .pulsate {
        opacity: 0;
        width: 150px;
        height: 0px;
        overflow: visible;
        position: relative;
        display: block;
        margin: 0 auto 0;
        top: 120px;
        transition: opacity 0.5s ease;
    }
    
    .pad .call-pad .pulsate.active-call {
        animation: pulsator 2s ease infinite;
        opacity: 1;
    }
    
    .pad .call-pad .pulsate div {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 100%;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    
    .pad .call-pad .pulsate div:nth-child(1) {
        width: 110px;
        height: 110px;
    }
    
    .pad .call-pad .pulsate div:nth-child(2) {
        width: 122px;
        height: 122px;
    }
    
    .pad .call-pad .pulsate div:nth-child(3) {
        width: 134px;
        height: 134px;
    }
    
    .pad .call-pad .ca-avatar {
        width: 90px;
        height: 90px;
        margin: 50px auto;
        margin-bottom: 20px;
        display: block;
        background-color: rgb(17 17 17);
        border-radius: 100%;
        box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.8);
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        transition: opacity 1s ease, transform 1s ease;
    }
    
    .pad .call-pad .ca-avatar.in-call {
        transform: scale(1, 1);
        opacity: 1;
    }
    
    .pad .call-pad .ca-name,
    .pad .call-pad .ca-number,
    .pad .call-pad .ca-status {
        width: 80%;
        margin-left: 10%;
        color: rgb(255 255 255);
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .pad .call-pad .ca-name {
        font-size: 18px;
    }
    
    .pad .call-pad .ca-number {
        font-size: 28px;
        letter-spacing: 2px;
    }
    
    .pad .call-pad .ca-status {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .pad .call-pad .ca-status:after {
        content: attr(data-dots);
        position: absolute;
    }
    
    .pad .call-pad .ca-buttons {
        width: 70%;
        margin-left: 20%;
    }
    
    .pad .call-pad .ca-buttons .ca-b-single {
        float: left;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        position: relative;
        margin-bottom: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 55% auto;
    }
    
    .pad .call-pad .ca-buttons .ca-b-single:nth-child(3n-1) {
        margin-left: calc(100% - 170px);
        margin-right: calc(100% - 170px);
    }
    
    .pad .call-pad .ca-buttons .ca-b-single:after {
        content: attr(data-label);
        color: rgb(255 255 255);
        position: absolute;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        width: 100px;
        bottom: -30px;
        left: -30px;
    }
    
    .call {
        color: white;
        font-size: 30px;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin: 22px 0px;
        font-weight: 700;
        cursor: pointer;
        position: absolute;
        left: calc(50% - 30px);
        bottom: 0px;
        box-shadow: 0px 25px 30px -15px black;
        background-color: #3de066;
    }
    
    .call .call-icon {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-size: 60% auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/call_32.png);
        transition: transform 0.3s ease;
    }
    
    .call .call-icon.in-call {
        -ms-transform: rotate(134deg);
        -webkit-transform: rotate(134deg);
        transform: rotate(134deg);
    }
    
    .call .call-change {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .call .call-change span {
        width: 70px;
        height: 67px;
        display: block;
        background-color: #fa4a5d;
        position: relative;
        top: 70px;
        left: 70px;
        border-radius: 100%;
        transition: left 0.3s ease, top 0.3s ease;
    }
    
    .call .call-change.in-call span {
        top: -5px;
        left: -5px;
    }
    
    .call.clicked {
        animation: pulse-green linear 0.5s 1 forwards;
    }
    
    @keyframes pulse-gray {
        0% {
            box-shadow: inset 0 0 0px 30px #2d2d2d, inset 0 0 0px 30px white;
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        10% {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        30% {
            box-shadow: inset 0 0 0px 10px #2d2d2d, inset 0 0 0px 30px white;
        }
        60% {
            box-shadow: inset 0 0 0px 0px #2d2d2d, inset 0 0 0px 0px white;
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    
    @keyframes pulse-blue {
        0% {
            box-shadow: inset 0 0 0px 30px #285efa, inset 0 0 0px 30px white;
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        10% {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        30% {
            box-shadow: inset 0 0 0px 10px #285efa, inset 0 0 0px 30px white;
        }
        60% {
            box-shadow: inset 0 0 0px 0px #285efa, inset 0 0 0px 0px white;
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    
    @keyframes pulse-green {
        0% {
            box-shadow: inset 0 0 0px 30px #3de066, inset 0 0 0px 30px white;
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        10% {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        30% {
            box-shadow: inset 0 0 0px 10px #3de066, inset 0 0 0px 30px white;
        }
        60% {
            box-shadow: inset 0 0 0px 0px #3de066, inset 0 0 0px 0px white;
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    
    @keyframes pulse-red {
        0% {
            box-shadow: inset 0 0 0px 30px #fa4a5d, inset 0 0 0px 30px white;
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        10% {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        30% {
            box-shadow: inset 0 0 0px 10px #fa4a5d, inset 0 0 0px 30px white;
        }
        60% {
            box-shadow: inset 0 0 0px 0px #fa4a5d, inset 0 0 0px 0px white;
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    
    @keyframes pulsator {
        0% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        40% {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        100% {
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    
    @keyframes showPad {
        0% {
            top: 50px;
            opacity: 0;
        }
        100% {
            top: 0px;
            opacity: 1;
        }
    }
    
    .hide {
        display: none !important;
    }
    
    .dial-pad-incall {
        border-radius: 20px;
        padding: 20px;
        background: rgb(9 213 108 / 51%);
        left: 210px;
        bottom: 130px;
        position: absolute;
    }
    
    .add-contact {
        background-image: url(../images/contact.png)
    }
    
    .mute {
        background-image: url(../images/mute.png)
    }
    
    .speaker {
        background-image: url(../images/speaker.png)
    }
    
    .other {
        background-image: url(../images/hand.png)
    }
    
    .chat {
        background-image: url(../images/support.png)
    }
    
    .keypad {
        background-image: url(../images/keypad.png)
    }
    
    .toaster {
        visibility: hidden;
        min-width: 200px;
        margin-left: 0px;
        background-color: rgb(51 51 51 / 47%);
        color: rgb(255 255 255);
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        position: fixed;
        z-index: 2000000;
        left: 40%;
        bottom: 30px;
        font-size: 17px;
    }
    
    .toaster.show {
        visibility: visible;
        /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    }
    
    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 500px;
            opacity: 1;
        }
    }
    
    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
    
    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }